//build:js js/vendor.js
//bower:js

//endbower
//endbuild


//build:js js/combined.js
script(src="js/slider.js")
script(src="js/headerMenu.js")
script(src="js/main.js")
script(src="js/googleMaps.js")
//endbuild